*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    min-height: 200vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.btn-logo-wrapper {
    display: flex;
    padding-top: 45px;
    padding-left: 15px;
}
.top-nav{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    z-index: 0;
    margin-left: -35px;
}
.logo{
    margin-left: 50px;
    margin-top: -8px;
}
.nav-btn{
    z-index: 100;
    display: flex;
    width: 20px;
    height: 20px;
    position: fixed;
}

.nav-btn span {
    width: 3px;
    background-color: black;
    display: flex;
    position: absolute;
    transition: .3s;
}

.nav-btn span:nth-child(1){
   margin-left: 5px;
   height: 35px;
   margin-top: 2px;
}
.nav-btn span:nth-child(2){
    height: 30px; 
}
.nav-btn span:nth-child(3){
    height: 35px; 
    height: 30px; 
    margin-left: 10px;
}
.nav-btn span:nth-child(4){
    height: 35px; 
    height: 35px; 
    margin-left: 15px;
    margin-top: 2px;
}

.nav-btn.is-active span {
    /* background-color: #fff; */
}

.nav-btn.is-active span:nth-child(1){
   margin-top: 10px;
   margin-left: 10px;
   transform: rotate(-45deg);
   height: 25px;
 
} 

.nav-btn.is-active span:nth-child(2){
   margin-top: 10px;
   margin-left: 10px;
   transform: rotate(45deg);
   height: 25px;
   } 

   .nav-btn.is-active span:nth-child(3){
     display: none;
   } 
   
   .nav-btn.is-active span:nth-child(4){
        display: none;
      }

   .menu {
       background-color: white;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       padding: 45px;
       z-index: 99;
       transition: 1s;
       /* opacity: 0;
       visibility: hidden; */
       margin-top: -750px;
       
   }


   .menu.is-active{
       /* opacity: 1;
       visibility: visible; */
       margin-top: 0px;
   }
   .menu__list {
     display: flex;
     list-style: none;
   }

   .menu__list li{
       margin-right: 30px;
   }

   .menu__link{
       position: relative;
       display: inline-flex;
       font-weight: bold;
       font-size: 32px;
       color: #171717;
       text-decoration: none;
       text-transform: uppercase;
   }

   .menu__link:after{
       content: '';
       position: absolute;
       bottom: 0px;
       left: 0;
       width: 0;
       height: 5px;
       display: inline-flex;
       background-color: #171717;
       transition: .3s;
   }

   .menu__link:hover:after {
       width: 100%;
   }

   .menu__link:hover {
    color: black
}
   /* NAV SOCIAL ICONS */
   .social__icons {
       display: flex;
       margin-top: 95px;
   }

   .social__icons > li {
       list-style: none;
   }

   .social__icons > li > a{
    padding-right: 45px;
    color: white;
}

/* SIDEBAR ICONS */

.side-bar__icons{
    position:fixed;
    top: 40%;
}
.side-bar__icons > li{
 list-style: none;
 margin-left: -20px;
 margin-bottom: 20px;
}

.side-bar__icons > li > a {
    color: #171717;
    font-size: 27px;
}
   /* HERO SECTION */

 .hero__wrapper {
     width: 100%;
 }
 .hero__inner{
     width: 93%;
     height: 100vh;
     border-left: 2px solid black;
     border-right: 2px solid black;
     margin: auto;
     display: flex;
     justify-content: center;
     margin-top: -98px;
     padding-top: 98px;
    /* background-image: url("../images/mountain.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain
    */
    z-index: 3;
 }


 .hero__mountains{
     position: absolute;
     max-width: 94;
     margin-top: auto;
 }
.hero__title__wrapper > h2 {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #010101;
}
 .hero__main__title{
     display: flex;
     flex-direction: column;
     font-size: 95px;
     line-height: 0.8;
     font-weight: 900;
     font-family: 'Poppins', sans-serif;
     color: #010101;

 }

 /* HERO IMAGES */
 .hero__stars{
    top: 0;
    right: 95px;
    position: absolute;
  }
 

 .saturn{
    position: absolute;
    right: 55px;
    top: 0;
    transform: translatey(0px);
	animation: leftRihgt 6s ease-in-out infinite;
    max-width: 100%;
 }

 .rocket{
    position: absolute;
    left: 180px;
    top: 200px;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
 }

 .star-dash{
     position: absolute;
     top: 50px;
     left: 50%;
 }

 .cloud-left{
     position: absolute;
     left: 80px;
     top: 90px;
 }

 .cloud-left-bottom{
     position: absolute;
     top: 56%;
     left: 300px;
 }
 .cloud-right{
     position: absolute;
     right: 100px;
     top: 250px;
 }

 .mountain-hero{
     position:absolute;
     bottom: -140px;
     z-index: 5;
 }

 /* SERVICER SECTION */

 .service__wrapper{
     max-width: 100%;
 }

 .service__inner{
     max-width: 93%;
     margin: auto;
     background-color: #070707;
     height: auto;
     position: relative;
     z-index: 0;
     background-image: url(../images/yildizler-hizmetler.png);
     background-repeat: no-repeat;
     background-position: top right;
     background-size: 150%; 
     position: relative;
     padding-bottom: 95px;
     overflow: hidden;
 }


 .col__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding-top: 280px;
    max-width: 70%;
    margin: auto;
 }

 .white__star{
     position: absolute;
     left: 20px;
 }
 .col__inner > h2{
  color: white;
  text-transform: capitalize;
  font-size: 23px;
  margin-top: 25px;
 }

 .service__col{
     display: flex;
     justify-content: center;
     align-items: center;
   }

 .col__inner  span{
     color: white;
     font-size: 14px;
     border: 1px solid rgb(138, 138, 138);
     display: block;
     width: 200px;
     margin-top: 10px;
     padding: 8px;
 }

 .service__moon{
     position: absolute;
     left: 25px;
     top: 150px;
     z-index: 5;
     animation: leftRihgt 6s ease-in-out infinite;
     max-width: 100%;
 }

 .moon-man{
     position:absolute;
     right: -110px;
     top: 180px;
     width: 350px;
     transform: translatey(0px);
     animation: moreLeftRihgt 18s ease-in-out infinite;
 }

 /* WHITE SECTION FOR ARROW BACKGROUND WRAPPER */
 .white__section__for__arrow__bg__outer{
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
    border-left: #010101 solid 2px;
    border-right: #010101 solid 2px;
    position: relative;
    padding-bottom: 55px;
 }

 .keyboard__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    justify-content: center;
    align-items: center;
 }
 .keyboard__image__wrapper > img {
     max-width: 120%;
     margin-left: -150px;
     margin-top: 150px;
 }

 .keyboard__image__wrapper{
     overflow: hidden;
 }

.keyboard__content__wrapper h2 {
    font-size: 25px;
    font-weight: 900;
}

.keyboard__content__wrapper > h2:nth-child(3){
  margin-top: 45px;
}

.keyboard__content__wrapper > h2:nth-child(5){
    margin-top: 45px;
  }

.keyboard__content__wrapper {
    max-width: 85%;
}
.section__btn{
    color: #171717;
    text-decoration: none;
    border: 2px solid #171717;
    border-radius: 50px;
    padding: 6px;
    font-size: 15px;
    font-weight: 800;
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: center;
}

.section__btn > img {
    width: 45px;
}

.section__btn:hover {
    color: #171717;
}
.key_p_img {
    position: absolute;
    top: -50px;
    width: 120px;
    left: 20%;
    animation: leftRihgt 5s ease-in-out infinite;
    max-width: 100%;
}

.key_8_img {
  position: absolute;
  top: 145px;
  left: 150px;
  width: 110px;
}

.key_delete_img{
  position: absolute;
  top: 195px;
  left: 370px;
  width: 110px;  
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

/* IMAC SECTION */
.mac__section{
    display: grid;
    grid-template-columns: 40% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}
.mac_section_image_wrapper > img {
    width: 100%;
    margin-top: -150px;
}

.mac_section_content_wrapper h2 {
    font-size: 25px;
    font-weight: 900;
}

.mac_section_content_wrapper > h2:nth-child(3) {
    margin-top: 45px;
}
.mac_section_content_wrapper {
    max-width: 85%;
}

.mac_section_image_wrapper{
    position: relative;
}
.power-cable {
    position: absolute;
    right: 55px;
    width: 350px !important;
    bottom: 0;
    margin-bottom: -90px;
    transform: translatey(0px);
	animation: leftRihgt 6s ease-in-out infinite;
}

/* MOUSE SECTION */

.mouse__section__wrapper{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;  
  position: relative;
  justify-content: center;
  align-items: center;
}

.mourse__section__image__wrapper > img {
    width: 85%;
    margin-top: 250px;
    
}

.mourse__section__content__wrapper{
    max-width: 85%;
}

.mourse__section__content__wrapper > h2 {
    margin-top: 45px;
    font-weight: 900;
}
.cursor_img{
    position: absolute;
    width: 105px;
    top: 95px;
    left: 20%;
    animation: leftRihgt 6s ease-in-out infinite;
    max-width: 100%;
}

/* CHAIR SECTION */
.chair__section__wrapper {
    display: grid;
    grid-template-columns: 40% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}

.chair__section__content__wrapper{
    max-width: 85%;
}

.chair__section__content__wrapper > h2 {
    margin-top: 45px;
    font-weight: 900;
}
.chair__section__image__wrapper {
    position: relative;
}
.chair__section__image__wrapper > img:nth-child(1) {
    width: 90%;
    margin: auto;
}

.chair__section__image__wrapper{
    position: relative;
}

.tire__image{
    position: absolute;
    bottom: -50px;
    right: 56%;
    width: 210px;
    animation: leftRihgt 6s ease-in-out infinite;
    max-width: 100%;
}
/* LOGOS Section */

.logo__section__outer__wrapper{
    max-width: 93%;
    margin: auto; 
    position: relative;
    background-color: #000;
    background-image: url('../images/yildizler-hizmetler.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
    overflow: hidden;
}

.logo__section_inner_wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: auto;
}

.logo_section_col > img {
    max-width: 60%;
    margin-top: 45px;
}

.logo_section_col {
    padding-left: 45px;
}

.venus{
    position: absolute;
    top: -20px;
    right: 0;
    width: 250px;
}

.rocks_for_logos {
    position: absolute;
    width: 180px;
    bottom: 0;
    left: -20px;
}

/* FOOTER */

footer {
    max-width: 93%;
    margin: auto;
    border-left: 1px #000 solid;
    border-right: #000 1px solid;
    height: 90vh;
    background-image: url('../images/footer-zemin.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer__inner{
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.footer__inner ul {
    list-style: none;
    margin-left: -30px;
}
.add-for-mob {
    display: none;
}
.footer__cols > h2 {
    font-size: 18px;
    font-weight: 900;
}

.footer__cols a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

.add-tel{
    display: grid;
    grid-template-columns: 1fr;
}

.footer__cols li {
    font-size: 13px;
    font-weight: 600;
}

.add-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer__cols p {
    font-size: 13px;
    font-weight: 600;
    text-align: right;
}

.footer_menu > h2 {
    font-size: 18px;
    font-weight: 900;
}

.footer_menu {
    border-left: 1px solid #000;
    padding-left: 25px;
}
.kripi{
    width: 95px;
    right: 0;
}

.footer-sticky {
    width: 100%;
    height: 70px;
    z-index: 88;
    position: fixed;
    background-color: white;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.sticky_footer_col > a {
    display: flex;
    flex-direction: column;
    color: #000;
    text-decoration: none;
}

.sticky_footer_col > a:hover  {
  color: black;
}
.sticky_footer_col > a > h4 {
    font-size: 20px;
    font-weight: 800;
}

.sticky_footer_col > a > span {
    font-size: 16px;
    font-weight: 400;
}
.sticky_footer_col {
    display: flex;
    justify-content: start;
    border-left: 2px solid #000;
    padding-left: 35px;
}
#service_link {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: start;
   align-items: center;
   font-size: 18px;
   font-weight: 900;
}

#service_link > img {
    margin-left: 55px;
}
/* ANIMATIMATION */

@keyframes float {
	0% {

        transform: translatey(0px);
	}
	50% {
		transform: translatey(-45px);
	}
	100% {

        transform: translatey(0px);
	}
}

/* left and right */
@keyframes leftRihgt {
	0% {

        transform: translatex(0px);
	}
	50% {
		transform: translatex(-45px);
	}
	100% {

        transform: translatex(0px);
	}
}

/* MORE left and right */
@keyframes moreLeftRihgt {
	0% {

        transform: translatex(0px);
	}
	50% {
		transform: translatex(-250px);
	}
	100% {

        transform: translatex(0px);
	}
    
}