*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    min-height: 200vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-logo-wrapper {
    display: flex;
    padding-top: 45px;
    padding-left: 15px;

}
.top-nav{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    z-index: 0;
    margin-left: -35px;
}
.logo{
    margin-left: 50px;
    margin-top: -8px;
}
.nav-btn{
    z-index: 44;
    display: flex;
    width: 20px;
    height: 20px;
    position: fixed;
}

.nav-btn span {
    width: 3px;
    background-color: black;
    display: flex;
    position: absolute;
    transition: .3s;
}

.nav-btn span:nth-child(1){
   margin-left: 5px;
   height: 35px;
   margin-top: 2px;
}
.nav-btn span:nth-child(2){
    height: 30px; 
}
.nav-btn span:nth-child(3){
    height: 35px; 
    height: 30px; 
    margin-left: 10px;
}
.nav-btn span:nth-child(4){
    height: 35px; 
    height: 35px; 
    margin-left: 15px;
    margin-top: 2px;
}

.nav-btn.is-active span {
    /* background-color: #fff; */
}

.nav-btn.is-active span:nth-child(1){
   margin-top: 10px;
   margin-left: 10px;
   transform: rotate(-45deg);
   height: 25px;
 
} 

.nav-btn.is-active span:nth-child(2){
   margin-top: 10px;
   margin-left: 10px;
   transform: rotate(45deg);
   height: 25px;
   } 

   .nav-btn.is-active span:nth-child(3){
     display: none;
   } 
   
   .nav-btn.is-active span:nth-child(4){
        display: none;
      }

   .menu {
       background-color: white;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       padding: 45px;
       z-index: 1;
       transition: 1s;
       /* opacity: 0;
       visibility: hidden; */
       margin-top: -750px;
       
   }


   .menu.is-active{
       /* opacity: 1;
       visibility: visible; */
       margin-top: 0px;
   }
   .menu__list {
     display: flex;
     list-style: none;
   }

   .menu__list li{
       margin-right: 30px;
   }

   .menu__link{
       position: relative;
       display: inline-flex;
       font-weight: bold;
       font-size: 32px;
       color: #171717;
       text-decoration: none;
       text-transform: uppercase;
   }

   .menu__link:after{
       content: '';
       position: absolute;
       bottom: 0px;
       left: 0;
       width: 0;
       height: 5px;
       display: inline-flex;
       background-color: #171717;
       transition: .3s;
   }

   .menu__link:hover:after {
       width: 100%;
   }

   .menu__link:hover {
    color: black
}
   /* NAV SOCIAL ICONS */
   .social__icons {
       display: flex;
       margin-top: 95px;
   }

   .social__icons > li {
       list-style: none;
   }

   .social__icons > li > a{
    padding-right: 45px;
    color: white;
}

/* SIDEBAR ICONS */

.side-bar__icons{
    position:fixed;
    top: 40%;
}
.side-bar__icons > li{
 list-style: none;
 margin-left: -20px;
 margin-bottom: 20px;
}

.side-bar__icons > li > a {
    color: #010101;
    font-size: 27px;
}
   /* HERO SECTION */

 .hero__wrapper {
     width: 100%;
 }
 .hero__inner{
     width: 93%;
     height: 100vh;
     border-left: 2px solid black;
     border-right: 2px solid black;
     padding-bottom: 650px;
     margin: auto;
     margin-top: -98px;
     display: flex;
     justify-content: center;
    /* background-image: url("../images/mountain.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain
    */
 }


 .hero__mountains{
     position: absolute;
     max-width: 94;
     margin-top: auto;
 }
.hero__title__wrapper > h2 {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 120px;
    color: #010101;
}
 .hero__main__title{
     display: flex;
     flex-direction: column;
     font-size: 95px;
     line-height: 0.8;
     font-weight: 900;
     font-family: 'Poppins', sans-serif;
     color: #010101;

 }

 /* HERO IMAGES */
 .hero__stars{
    top: 0;
    right: 95px;
    position: absolute;
  }
 

 .saturn{
    position: absolute;
    right: 55px;
 }

 .rocket{
    position: absolute;
    left: 180px;
    top: 200px;
 }

 .star-dash{
     position: absolute;
     top: 50px;
     left: 50%;
 }

 .cloud-left{
     position: absolute;
     left: 80px;
     top: 90px;
 }

 .cloud-left-bottom{
     position: absolute;
     top: 56%;
     left: 300px;
 }
 .cloud-right{
     position: absolute;
     right: 100px;
     top: 250px;
 }

 .mountain-hero{
     position:absolute;
     bottom: -140px;
     z-index: 1;
 }

 /* SERVICER SECTION */

 .service__wrapper{
     max-width: 100%;
 }

 .service__inner{
     max-width: 93%;
     margin: auto;
     background-color: #070707;
     height: 100vh;
     position: relative;
     z-index: 0;
     background-image: url(../images/yildizler-hizmetler.png);
     background-repeat: no-repeat;
     background-position: top right;
     background-size: 150%;
 }

 .white__star{
     position: absolute;
     left: 20px;
 }